<div ng-include src="'provider-milk-header.html'" >
</div>

<div class="container">
	<form name="appnameform" style="margin-left: 70px; margin-top: 40px" ng-hide="loading">

		<div class="row">
			<div class="form-group col-lg-3">
				<h3 class="text-primary" style="float: left">
					MilkDetails
					<h3>
			</div>
		</div>
		<div class="row">
		<div class="form-group col-lg-3" style="float:right">
			<button  class="btn btn-info btn-primary" ng-click="print()">
			Print</button>
		</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-3">
				<label for="flatform" style="float: left">Date:</label>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-3">
				<md-datepicker style="float: left" ng-model="supplyDate" md-placeholder="Supply Date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-3">
				<label for="routename" style="float: left">Route:</label>
				<select ng-model="routesel.type" ng-options="r.id as r.routeid for r in routedetails" class="form-control" ng-change="dailymilkdata(routesel.type)">
				</select>
			</div>
		</div>
	
	<input type="text" class="form-control " placeholder="Search" ng-model="searchApart">
	<table class="table table-striped" ng-hide="loading">
		<thead>
			<tr>
				<th>Route</th>
				<th>Apartment Name</th>
				<th>Flat No</th>
				<th>Milk</th>
				<th>Quantity</th>
				<th>Cost</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="milkdata in getflatdata | filter:searchApart">
				<td>{{ milkdata.routename }}</td>
				<td>{{ milkdata.appname }}</td>
				<td>{{ milkdata.roomid }}</td>
				<td>{{ milkdata.milkid }}</td>
				<td>{{ milkdata.quantity }}</td>
				<td>{{ milkdata.cost }}</td>
			</tr>
		</tbody>
	</table>
	<img src="images/aturhelp/loading.gif" ng-show="loading" style="position:relative;"/>
	</form>
</div>