<div ng-include src="'provider-milk-header.html'" >
</div>

<div class="container">
	<form name="milkeform" style="margin-left: 70px; margin-top: 40px" ng-hide="loading">

		<div class="row">
			<div class="form-group col-lg-3">
				<h3 class="text-primary" style="float: left">
					Add Milk
					<h3>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-3">
				<label for="subject" style="float: left">Subject:</label>
				<input type="text" class="form-control" name="subject" ng-model="subject" placeholder="Enter Subject" required>
				<span style="color: red" ng-show="milkeform.subject.$dirty && milkeform.subject.$invalid">
				<span ng-show="milkeform.subject.$error.required">
				Please Enter Milk Subject
				</span>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-3">
				<label for="milk" style="float: left">Milk Id:</label>
				 <input type="text" class="form-control" name="milkid" ng-model="milkid" placeholder="Enter Milk Id" required>
				 <span style="color: red" ng-show="milkeform.milkid.$dirty && milkeform.milkid.$invalid">
				<span ng-show="milkeform.milkid.$error.required">
				Please Enter Milk Id
				</span>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-3">
				<label for="milk" style="float: left">Cost:</label>
				 <input type="text" class="form-control" name="cost" ng-model="cost" placeholder="Enter Cost" required>
				 <span style="color: red" ng-show="milkeform.cost.$dirty && milkeform.cost.$invalid">
				<span ng-show="milkeform.cost.$error.required">
				Please Enter Cost
				</span>
				</span>
			</div>
		</div>
		<div class="form-group col-lg-3">
			<button  class="btn btn-info btn-primary" ng-click="submit()"
			ng-disabled="milkeform.subject.$invalid || milkeform.milkid.$invalid || milkeform.cost.$invalid">
			Submit</button>
		</div>
	</form>
	<img src="images/aturhelp/loading.gif" ng-show="loading" style="position:relative;"/>
</div>