<div ng-include src="'provider-milk-header.html'" />

<div class="container">
	<form name="locationform" style="margin-left: 70px; margin-top: 40px" ng-hide="loading">

		<div class="row">
			<div class="form-group col-lg-3">
				<h3 class="text-primary" style="float: left">
					Balance Sheet
				<h3>
			</div>
		</div>
    <div class="row">
			<div class="form-group col-lg-3">
				<label for="flatform" style="float: left">Date:</label>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-3">
				<md-datepicker style="float: left" ng-model="supplyDate" md-placeholder="Supply Date" md-min-date="minDate" md-max-date="maxDate" ng-change="dateChange()"></md-datepicker>
			</div>
	</div>		
    <table id="users" class="table table-bordered table-condensed" style="width:100%">
        <tr><th>Milk Category</th><th>Estimated Liters</th><th>Actual Liters</th><th>Difference In Liters</th></tr>
        <tr ng-repeat="bs in balancesheetarray">
            <td width="30%">{{ bs.category }}</td>
            <td width="20%">{{bs.expectedliters}}</td>
            <td width="10%"><input type="text" ng-model="bs.todaylts"  /></td>
            <td width="10%"><input type="text" ng-model="bs.diff" disabled/></td>       
        </tr>
    </table> 
    <div class="form-group col-lg-3">
			<button  class="btn btn-info btn-primary" ng-click="submit()">
			Generate
			</button>
	</div>
	<table class="table table-striped" ng-hide="loading">
  <thead>
    <tr>
      <th>Route</th>
      <th>Category</th>
      <th>Liters</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="bsr in balancesheetbyroute">
      <td>{{ bsr.route }}</td>
      <td>{{ bsr.category }}</td>
      <td>{{ bsr.liters }}</td>
    </tr>
  </tbody>
</table>   
</div>
</form>
	<img src="images/aturhelp/loading.gif" ng-show="loading" style="position:relative;"/>
</div>