<div ng-include src="'provider-milk-header.html'"></div>

<div class="container">
	<form name="appnameform" style="margin-left: 70px; margin-top: 40px">
	
		<div class="row">
		<div class="form-group col-lg-3">
			<h3 class="text-primary" style="float: left">
				Milk Status
			</h3>
		</div>
	</div>	
	<div class="row">
			<div class="form-group col-lg-3">
				<label for="flatform" style="float: left">Apartment Name:</label>
			<select ng-model="apartmentsel.type" ng-options="a.id as a.appname for a in apartmentdetails" class="form-control" ng-change="changeApp(apartmentsel.type)">
			</select>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-lg-3">
			<label for="flatform" style="float: left">Flat No:</label>
			<select ng-model="flatNosel.type" ng-options="f.id as f.roomno for f in flatNodetails" class="form-control" ng-change="changeroom(flatNosel.type)">
			</select>
		</div>
	</div>
	<div class="calendar" ng-model="eventSources" calendar="myCalendar"
			config="uiConfig.calendar" ui-calendar="uiConfig.calendar" >
	</div>
	<div style="margin-top:50px">
	
	</div>
	</form>
</div>
