<div ng-include src="'provider-milk-header.html'" >
</div>

<div class="container">
	<form name="appnameform" style="margin-left: 70px; margin-top: 40px" ng-hide="loading">

		<div class="row">
			<div class="form-group col-lg-3">
				<h3 class="text-primary" style="float: left">
					Add Apartment
					<h3>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-3">
				<label for="subject" style="float: left">Subject:</label>
				<input type="text" class="form-control" name="subject" ng-model="subject" placeholder="Enter Subject" required>
				<span style="color: red" ng-show="appnameform.subject.$dirty && appnameform.subject.$invalid">
				<span ng-show="appnameform.subject.$error.required">
				Please Enter appname Subject
				</span>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-3">
				<label for="appnamename" style="float: left">Apartment Name:</label>
				 <input type="text" class="form-control" name="appname" ng-model="appname" placeholder="Enter Apartment Name" required>
				 <span style="color: red" ng-show="appnameform.appname.$dirty && appnameform.appname.$invalid">
				<span ng-show="appnameform.appname.$error.required">
				Please Enter appname Id
				</span>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-3">
				<label for="appnamename" style="float: left">Route:</label>
				<select ng-model="routesel.type" ng-options="r.id as r.routeid for r in routedetails" class="form-control">
				</select>
			</div>
		</div>
		<div class="form-group col-lg-3">
			<button  class="btn btn-info btn-primary" ng-click="submit()"
			ng-disabled="appnameform.subject.$invalid || appnameform.appname.$invalid">
			Submit</button>
		</div>
	</form>
	<img src="images/aturhelp/loading.gif" ng-show="loading" style="position:relative;"/>
</div>