<div ng-include src="'provider-milk-header.html'" >
</div>
<div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Leaderboard -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5992213818084715"
     data-ad-slot="9894574580"></ins>
 <script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- LR -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-5992213818084715"
     data-ad-slot="9174720985"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- LS -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-5992213818084715"
     data-ad-slot="8557442187"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>    
<div class="container">
	<form name="locationform" style="margin-left: 70px; margin-top: 40px" ng-hide="loading">

		<div class="row">
			<div class="form-group col-lg-3">
				<h3 class="text-primary" style="float: left">
					Add Location
					<h3>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-3">
				<label for="subject" style="float: left">Subject:</label>
				<input type="text" class="form-control" name="subject" ng-model="subject" placeholder="Enter Subject" required>
				<span style="color: red" ng-show="locationform.subject.$dirty && locationform.subject.$invalid">
				<span ng-show="locationform.subject.$error.required">
				Please Enter Location Subject
				</span>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-3">
				<label for="locationname" style="float: left">Location Name:</label>
				 <input type="text" class="form-control" name="location" ng-model="location" placeholder="Enter Location Name" required>
				 <span style="color: red" ng-show="locationform.location.$dirty && locationform.location.$invalid">
				<span ng-show="locationform.location.$error.required">
				Please Enter Location Id
				</span>
				</span>
			</div>
		</div>
		<div class="form-group col-lg-3">
			<button  class="btn btn-info btn-primary" ng-click="submit()"
			ng-disabled="locationform.subject.$invalid || locationform.location.$invalid">
			Submit</button>
		</div>
	</form>
	<img src="images/aturhelp/loading.gif" ng-show="loading" style="position:relative;"/>
</div>