
<div id="middle">
	<div class="slide">
		<div id="letter">
			<form name="registerform">

				<div id="bigletter2">
					<p>By registering we will contact you..</p>
				</div>

				<div id="letter">
					<p>
						FullName:<br> <input type="text" name="fullname"
							ng-model="fullname" placeholder="Enter FullName" required /> <span
							style="color: red"
							ng-show="registerform.fullname.$dirty && registerform.fullname.$invalid">
							<span ng-show="registerform.fullname.$error.required">Full
								Name is required</span>
						</span>
					</p>

					<p>
						Email:<br> <input type="email" name="email" ng-model="email"
							placeholder="Enter Email" required /> <span style="color: red"
							ng-show="registerform.email.$dirty && registerform.email.$invalid">
							<span ng-show="registerform.email.$error.required">Email
								is required</span>
						</span>
					</p>

					<p>
						Mobile No:<br> <input type="number" name="number"
							ng-model="number" placeholder="Enter Mobile No" required /> <span
							style="color: red"
							ng-show="registerform.number.$dirty && registerform.number.$invalid">
							<span ng-show="registerform.number.$error.required">Mobile
								No is required</span>
						</span>
					</p>

					<p>
						<button class="btn btn-primary" ng-click="register()"
							ng-disabled="
               registerform.fullname.$invalid || registerform.email.$invalid || registerform.number.$invalid">Submit</button>
					</p>
				</div>
			</form>
		</div>
	</div>

</div>
